spring:
  datasource:
    url: jdbc:h2:mem:maindb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create
    open-in-view: false
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console

  # data.sql/schema.sql 실행 순서 개선(선택)
  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: debug
